
.metaplayer-overlay-tag-label {
    color: #439DDD;
    background: none;
}
.metaplayer-overlay-tag-label:hover {
    color: #FFF;
}

.metaplayer-overlay-search-input,
.metaplayer-overlay-search-input:focus
{
    right: 0px;
    background-color: #878787;
    color: white;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-right: 30px;
}
.metaplayer-overlay-search-btn {
    background-image: url('images/control/search-16.png');
    background-color: #878787;
    height: 16px;
    width: 16px;
    margin: 1px 0;
    background-repeat:no-repeat;
    background-position:center;
    border: none;
    z-index: 10;
}

.metaplayer-overlay-play {
    width: 28px;
    height: 24px;
    background: url('images/control/play-28x24.png');
}

.metaplayer-overlay-pause {
    width: 28px;
    height: 24px;
    background: url('images/control/pause-28x24.png');
}

.metaplayer-overlay-cc {
    background: url('images/control/cc-32x24.png');
    width: 32px;
    height: 24px;
}

.metaplayer-overlay-cc-off {
    background: url('images/control/cc-disabled.png');
    width: 32px;
    height: 24px;
}

.metaplayer-overlay-mute {
    background: url('images/control/vol-20x24.png');
    width: 22px;
    height: 24px;
}
.metaplayer-overlay-unmute {
    background: url('images/control/mute-22x24.png');
    width: 22px;
    height: 24px;
}
.metaplayer-overlay-volume {
    background: url('images/control/volume-bars-blue.png');
}
.metaplayer-overlay-volume-bg {
    background: url('images/control/volume-bars.png');
    width: 79px;
    height: 24px;
}

.metaplayer-overlay-embed-small,
.metaplayer-overlay-embed-medium,
.metaplayer-overlay-embed-large {
    margin: 2px;
}


.metaplayer-overlay-embed-small {
    background: url('images/control/embed-small.png');
    width: 12px;
    height: 12px;
}
.metaplayer-overlay-embed-medium {
    background: url('images/control/embed-medium.png');
    width: 16px;
    height: 12px;
}
.metaplayer-overlay-embed-large {
    background: url('images/control/embed-big.png');
    width: 20px;
    height: 12px;
}

