
.metaplayer-overlay {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    color: white;
    background:  black;
    font-family: arial,sans-serif;
}
.metaplayer-overlay-left-title,
.metaplayer-overlay-right-title {
    color: white;
    padding:  12px 10px 0 10px;
    font-size: 14px;
    font-weight: bold;
    height: 16px;
}

/* Left Panel */
.metaplayer-overlay-left {
    width: 50%;
    float: left;
    position: relative;
    top: 0; left: 0;
}

/* Search */

.metaplayer-overlay-left-title {
    float: left;
    margin-bottom: 5px;
}

.metaplayer-overlay-search {
    float: right;
    position: relative;
    top: 5px;
    left: 0;
    margin:  5px 0;
    width: 180px;
    height: 18px;
}
.metaplayer-overlay-search-input {
    position:  absolute;
    right: 36px;
    left: 0px;
    height: 16px;
    padding:  1px;
    color: white;
    cursor: pointer;
    border:  none;
    margin:  0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.metaplayer-overlay-search-input:focus {
    background:  white;
    color: black;
}
.metaplayer-overlay-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 18px;
    width: 25px;
    cursor: pointer;
    line-height: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background:  #888;
    color: white;
    font-size: 8px;
    overflow:  hidden;
    border-left:  1px solid #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Tags */
.metaplayer-overlay-tags {
    background:  black;
    position: relative;
    top: 0; left: 0;
    padding: 5px 0 10px 20px;
}
.metaplayer-overlay-tag {
    color: cyan;
    font-size: .9em;
    float: left;
    width: 50%;
}
.metaplayer-overlay-tag-label {
    margin: 2px 5px 0 5px;
    cursor: pointer;
    background: blue;
}
.metaplayer-overlay-clear {
    clear: both;
    height: 1px;
    width: 1px;
    line-height: 1px;
}

/* Controls */
.metaplayer-overlay-controls {
    background:  black;
    margin:  5px 0;
    padding: 0 10px;
    position: relative;
    top: 0; left: 0;
    color: pink;
}
.metaplayer-overlay-play,
.metaplayer-overlay-pause,
.metaplayer-overlay-cc,
.metaplayer-overlay-cc-off,
.metaplayer-overlay-mute,
.metaplayer-overlay-unmute,
.metaplayer-overlay-volume-bg {
    height: 24px;
    width: 28px;
    background: white;
    color: #888;
    font-size: 8px;
    float: left;
    margin-right:5px;
    cursor: pointer;
    display: none;
}
.metaplayer-overlay-volume {
    width: 0%;
    height: 100%;
}

.metaplayer-overlay-volume-bg {
    background:  gray;
    position: relative;
    top: 0; left: 0;
    display: block;
}

/* Right Panel */
.metaplayer-overlay-right {
    float: right;
    width: 50%;
}

/* Up Next */
.metaplayer-overlay-next {
    position: relative;
    top: 0; left: 0;
}
.metaplayer-overlay-preview {
    margin: 14px 15px 10px 15px;
}
.metaplayer-overlay-preview-thumb {
    width: 140px;
    height: 90px;
    background:  beige;
    float: left
}
.metaplayer-overlay-preview-desc {
    height: 90px;
    margin-left: 140px;
}
.metaplayer-overlay-preview-title {
    color: white;
    padding: 5px;
}

/* Bottom Panel */
.metaplayer-overlay-bottom {
    padding-bottom: 5px;
}

/* Embed */
.metaplayer-overlay-embed {
    position: relative;
    top: 0; left: 0;
    height: 10px;
    width: 50%;
    float: left;
    padding:  5px 0;
}
.metaplayer-overlay-embed-label {
    float: left;
    font-size: 14px;
    margin: 0 5px 0 10px;
    font-weight: bold;

}
.metaplayer-overlay-embed-small,
.metaplayer-overlay-embed-medium,
.metaplayer-overlay-embed-large {
    width: 20px;
    height: 12px;
    background: white;
    color: #888;
    font-size: 8px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
}

/* Social */
.metaplayer-overlay-social {
    width: 50%;
    float: right;
    height: 20px;
}
