.metaplayer-controls {
    background: #aaa;
    height: 24px;
    padding:  4px;
    position: relative;
}

.metaplayer-play,
.metaplayer-time {
    display: block;
    position: absolute;
    top: 4px;
}

.metaplayer-time {
    width: 96px;
    height: 24px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    right: 4px;
    text-shadow: 0 0 2px #666;
}
.metaplayer-time-current {
    display: inline;
    color: #fff;
}

.metaplayer-time-duration {
    display: inline;
    color: #ddd;
}

.metaplayer-play,
.metaplayer-pause
{
    cursor: pointer;
}

.metaplayer-play {
    width: 28px;
    height: 24px;
    left: 4px;
    background: url(assets/control/play-28x24.png);
}

.metaplayer-pause {
    width: 28px;
    height: 24px;
    background: url(assets/control/pause-28x24.png);
}

.metaplayer-fullscreen {
    width: 32px;
    height: 24px;
    right: 4px;
    background: url(assets/control/fullscreen-32x24.png);
    display: none;
}

.metaplayer-track {
    height: 24px;
    background: #333;
    margin-left: 32px;
    margin-right: 100px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 5px;
    margin-top: 1px;
}

.metaplayer-track-fill {
    width: 0%;
    background: #fff;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.metaplayer-track-marker {
    width: 4px;
    height: 22px;
    margin-left: -2px;
    margin-top: 1px;
    position: absolute;
    left:  0;
    top: 0;
    cursor: pointer;
    background: gray;
}

.metaplayer-tag {
    background: cyan;
}

.metaplayer-metaq {
    background: #ee82ee;
}

.metaplayer-track-knob {
    width: 8px;
    height: 24px;
    border: 1px solid #666;
    margin-top: -1px;
    margin-left: -5px;
    background: #eee;
    position: absolute;
    top : 0;
    z-index: 100;
    cursor: pointer;
    border-radius: 3px;

}

.metaplayer-track-knob:hover {
    border: 1px solid blue;
}

.metaplayer-track-knob:active {
    background: #aaaaff;
    border: 1px solid blue;
}

.metaplayer-track-buffer {
    width: 0%;
    margin-top: -1px;
    height: 24px;
    background: #666;
    left: 0px;
    top: 0px;
    border-radius: 5px;
}

/* Captions */
.metaplayer-captions-cc-content {
    color: white;
    margin-top: -3em;
    text-align: center;
    font-size: 1.1em;
    position: relative;
    z-index: 999;
}

